<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="../../static/css/base.css" rel="stylesheet">
    <link href="../../static/css/common.css" rel="stylesheet">
</head>
<body>
<!-- 头部 -->
<div class="g-head">
    <div class="m-nav">
        <div class="g-warp">
            <div class="fl">
                <a class="home">首页</a>
                <a class="vip">VIP付款特权</a>
            </div>
            <div class="fr extra">
                <a><i class="iconfont icon-user"></i>登陆</a>
                <span>|</span>
                <a>注册</a>
                <a><i class="iconfont icon-star"></i>常见问题</a>
                <a><i class="iconfont icon-qq"></i>在线客服</a>
            </div>
        </div>
    </div>
</div>

<!-- 菜单 -->
<div class="g-nav">
    <div class="g-warp">
        <div class="m-menu clearfix">
            <h1 class="fl"><img src="../../static/image/logo.png"></h1>
            <div class="content">
                <ul class="fl">
                    <li class="active"><a>官方首页</a></li>
                    <li><a>风格类型</a></li>
                    <li><a>会员特权</a></li>
                    <li><a>帮助中心</a></li>
                </ul>
                <a class="fr start">开始制作</a>
            </div>
        </div>
    </div>
</div>

<!-- 主体 -->
<div class="g-body m-home-body">
    <div class="g-home-banner">

    </div>

    <div class="m-home-afun">
        <div class="g-warp">
            <div class="hd">
                <h2><em>各种</em>智能设备</h2>

                <p>[智能设备齐全，分享喜悦，幸福邀请，愉快合作]</p>

                <i>ACHIEVE FUNCTIONAL</i>
            </div>

            <ul class="box">
                <li>
                    <i></i>
                    <div class="body">
                        <div class="h">
                            10%免费使用
                        </div>
                        <p>
                            完全免费，付费体验更
                            佳不支付也能正常使用
                        </p>
                    </div>
                </li>
                <li>
                    <i></i>
                    <div class="body">
                        <div class="h">
                            指定宾客
                        </div>
                        <p>
                            每位贵宾都能单独
                            邀请宾客体验更佳
                        </p>
                    </div>
                </li>
                <li>
                    <i></i>
                    <div class="body">
                        <div class="h">
                            全平台兼容
                        </div>
                        <p>
                            Ipad、手机、电脑
                            统统邀约不留余地
                        </p>
                    </div>
                </li>
                <li>
                    <i></i>
                    <div class="body">
                        <div class="h">
                            自定义音乐
                        </div>
                        <p>
                            自定义您喜欢的音乐独
                            特的爱专属新婚的您
                        </p>
                    </div>
                </li>
                <li>
                    <i></i>
                    <div class="body">
                        <div class="h">
                            好友祝福
                        </div>
                        <p>
                            好友及时在线祝福
                            满满祝福无处不在
                        </p>
                    </div>
                </li>
                <li>
                    <i></i>

                    <div class="body">
                        <div class="h">
                            宾客统计
                        </div>
                        <p>
                            赴宴人数、缺席人数
                            实时统计混烟不浪费
                        </p>
                    </div>
                </li>
                <li>
                    <i></i>

                    <div class="body">
                        <div class="h">
                            CDN云加速
                        </div>
                        <p>
                            全国12个节点加速
                            打开喜帖嗖嗖的
                        </p>
                    </div>
                </li>
                <li>
                    <i></i>
                    <div class="body">
                        <div class="h">
                            高精度二维码
                        </div>
                        <p>
                            用途丰富，多种应用场
                            景传播喜帖轻而易举
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="m-home-lovepost">
        <div class="g-warp">
            <div class="hd">
                <h2><em>爱情</em>见证贴</h2>

                <p>[爱就要大声说出来 & 高调浪漫情调派请柬]</p>

                <i>LOVE WITNESS POST</i>
            </div>
            <div class="list" id="list">
                <ul>
                    <li>
                        <a href="http://idea.baiten.cn/RDetails.aspx?id=65b7a583-7b32-446b-a598-77e55698bab3"
                           class="zoomHref">
                            <img src="http://idea.baiten.cn/Upload/RImage/Max/user1_20130319092250110.jpg">
                        </a>

                        <div></div>
                    </li>

                    <li>
                        <a href="http://idea.baiten.cn/RDetails.aspx?id=2f5fa9ae-01c6-4510-912d-e8e8649a399f"
                           class="zoomHref">
                            <img src="http://idea.baiten.cn/Upload/RImage/Max/user1_20120401130849078.jpg">
                        </a>

                        <div></div>
                    </li>
                    <li>
                        <a href="http://idea.baiten.cn/RDetails.aspx?id=9dc7dd45-0793-4f83-bc45-ea51f4768ca4"
                           class="zoomHref">
                            <img src="http://idea.baiten.cn/Upload/RImage/Max/user1_20120405101845844.jpg">
                        </a>

                        <div></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="m-home-steps">
        <div class="g-warp">
            <div class="hd">
                <h2><em>制作</em>步骤</h2>

                <p>[制作简单美观，功能齐全，保证把爱带到]</p>

                <i>PRODUCTION STEPS</i>
            </div>
            <div class="content"></div>
        </div>
    </div>

    <div class="m-home-quality">
        <div class="g-warp">
            <div class="hd">
                <h2><em>价格便宜</em>服务优质</h2>

                <p>[风格模版种类多，美观又便宜，爱需要传递才会完美]</p>

                <i>CHEAP SERVICE QUALITY</i>
            </div>

            <div class="list" id="quality-list">
                <ul>
                    <li>
                        <a href="http://idea.baiten.cn/RDetails.aspx?id=65b7a583-7b32-446b-a598-77e55698bab3"
                           class="zoomHref">
                            <img src="http://idea.baiten.cn/Upload/RImage/Max/user1_20130319092250110.jpg">
                        </a>

                        <div></div>
                    </li>

                    <li>
                        <a href="http://idea.baiten.cn/RDetails.aspx?id=2f5fa9ae-01c6-4510-912d-e8e8649a399f"
                           class="zoomHref">
                            <img src="http://idea.baiten.cn/Upload/RImage/Max/user1_20120401130849078.jpg">
                        </a>

                        <div></div>
                    </li>
                    <li>
                        <a href="http://idea.baiten.cn/RDetails.aspx?id=9dc7dd45-0793-4f83-bc45-ea51f4768ca4"
                           class="zoomHref">
                            <img src="http://idea.baiten.cn/Upload/RImage/Max/user1_20120405101845844.jpg">
                        </a>

                        <div></div>
                    </li>
                    <li>
                        <a href="http://idea.baiten.cn/RDetails.aspx?id=9dc7dd45-0793-4f83-bc45-ea51f4768ca4"
                           class="zoomHref">
                            <img src="http://idea.baiten.cn/Upload/RImage/Max/user1_20120405084436882.jpeg">
                        </a>

                        <div></div>
                    </li>
                    <li>
                        <a href="http://idea.baiten.cn/RDetails.aspx?id=9dc7dd45-0793-4f83-bc45-ea51f4768ca4"
                           class="zoomHref">
                            <img src="http://idea.baiten.cn/Upload/RImage/Max/user1_20140103090529042.jpg">
                        </a>

                        <div></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="m-home-user">
        <div class="g-warp">
            <div class="hd">
                <h2><em>他们</em>也在使用</h2>

                <p>[力求完美的电子请柬，越来越多的粉丝了]</p>

                <i><a>马上制作</a></i>
            </div>
        </div>
    </div>
</div>

<!-- 站脚 -->
<div class="g-foot">
    <!-- 帮助 -->
    <div class="m-help clearfix">
        <div class="g-warp">
            <img src="../../static/image/logo.png" class="fl logo">

            <div class="content fl">
                <ul class="clearfix list">
                    <li class="fl item">
                        <span class="h">关于我们</span>
                        <ul>
                            <li>
                                <a>常见问题</a>
                            </li>
                            <li><a>支付问题</a></li>
                            <li><a>支付问题</a></li>

                        </ul>
                    </li>
                    <li class="fl item">
                        <span class="h">联络与支援</span>
                        <ul>
                            <li><a>联系我们</a></li>
                            <li><a>商家合作</a></li>
                            <li><a>设计师合作</a></li>
                        </ul>
                    </li>
                    <li class="fl item">
                        <span class="h">授权与条款</span>
                        <ul>
                            <li><a>用户协议</a></li>
                            <li><a>隐私条款</a></li>
                            <li><a>设计师合作</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="extra fl">
                <img class="weixin fl">
                <div class="service fl">
                    <div class="h">客服热线</div>
                    <strong class="phone db">400-808-8200</strong>
                    <a class="qq db"><i class="iconfont icon-qq"></i>客服QQ</a>
                    <div class="company">徐州雷动信息技术有限公司</div>
                </div>
            </div>
        </div>
    </div>

    <!-- 站脚信息  -->
    <div class="m-foot">
        <div class="g-warp">
            <em>© 2015 北京乐融多源信息技术有限公司</em>
            <span>京ICP证140334号</span>
            <span>京公网备案11010502025440</span>
        </div>
    </div>
</div>
<script src="../../static/js/lib/jquery/jquery.min.js"></script>
<script src="../../static/js/lib/jquery/easing.js"></script>
<script src="../../static/js/app/util/zoompic.js"></script>
<script src="../../static/js/app/main/home.js"></script>
</body>
</html>